{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>もう一度、ユーザー名とパスワードを入力してください！</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="center">
        <tr>
            <td>＊デモユーザーのアカウント情報＊</td><br>
            <td>ユーザー名：testuser</td><br>
            <td>  パスワード：test  </td>
        </tr>
        <br><br>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <br><br>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        <br><br>
        <input type="submit" value="ろぐいん！" />
        <!-- LoginViewに対して現在のURLのnextパラメータを渡す -->
        <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
{% endblock %}
