{% load static %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=DotGothic16&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<title>blog page:)☆</title>
	</head>
	<body>

		<div class = "page-header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu" title="記事作成"><span class="glyphicon glyphicon-plus"></span></a>
			<a href="{% url 'post_draft_list' %}" class="top-menu" title="未公開記事リスト"><span class="glyphicon glyphicon-edit"></span></a>
			
			<a href="{% url 'logout' %}" class="top-menu" title="ログアウト"><span class="glyphicon glyphicon-log-out"></span></a>
			<p class="top-menu">Hello,{{ user.username }}</p>
		{% else %}
            <a href="{% url 'login' %}" class="top-menu" title="ログイン"><span class="glyphicon glyphicon-log-in"></span></a>
		{% endif %}
		<h1><a href="/">Django Blog(´-ω-`)</a></h1>
		</div>

		<div class="content container">
			<div class="row">
                <div class="col-md-11">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
		<!-- <div>
			<h3><a href="">2021.7.1</a></h2>
		    <p>Djangoでブログ作り中。。。</p>
		    <p>create blog now...</p>
		</div>
		<div>
			<h3><a href="">2021.7.2</a></h2>
		    <p>Djangoでブログ作り中。。。2</p>
		    <p>create blog now...2</p>
		</div>-->
	</body>
</html>