h1 a,h3 a,h2  {
    color: #69460698;
    font-family:'DotGothic16';
    margin-top: 0;
    
}

h1, h2, h3, h4{
    font-family: 'DotGothic16';
    color: #69460698;
}



body {
    
    background-color: rgb(255, 167, 161);
    padding-left: 0;
    
}

.page-header {
    background-color: rgb(157, 226, 205);
    padding: 20px 0px 20px 0px;
    margin: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding: 0px 0px 0px 30px;
}

.post {
    padding: 20px 50px 20px 0px;
    margin: 0;
    width: 100%;
    position:static;
    
}
.date{
    color: #362e17;
    font-size: 10pt;
    
}
.content {
    padding: 10px 20px 40px 50px;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    font-family:'DotGothic16';
}
.save {
    float: right;
}

.post h2 a, .post h2 a:visited {
    color: #d42020;
}

.center {
    text-align: center; 
}

.comment {
    margin: 20px 0px 20px 20px;
}

#come{
    color: #69460698;
}

.btn{
    color: #69460698;
    font-family:'DotGothic16';
}

p,.date p,strong{
    font-family:'DotGothic16';
}



.nav-list {
    text-align: center;
    margin: 0 auto;
    padding: 0px 100;
    font-family: 'DotGothic16';

}

.nav-list-item {
    list-style: none;
    display: inline-block;
    padding: 0px;
    font-size: 18px;
    margin: 0px 50px 0px;
    
}

.nav-list-item a{
    color: #69460698;
}

footer {
    width: 100%;
    height: 20px; 
    text-align: center;
    padding: 40px 0;
    background-color: #a8a8a8;
    color: #fff;
    font-size: 20px;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }

  .wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}








